{% extends 'base.html' %}

{% block content %}
  <h1>Throw</h1>
  {% comment %} <form action="/articles/catch/" method="GET"> {% endcomment %}
    <form action="{% url 'catch' %}" method="GET">
    {% comment %} label의 for와 id 일치시키기 {% endcomment %}
    <label for="message">Throw</label>
    {% comment %} name: 어떤 박스에 담아서 전달하는지 결정 {% endcomment %}
    <input type="text" id="message" name="message">
    {% comment %} value: 버튼 안에 들어가는 문구 {% endcomment %}
    <input type="submit" value="공을 던지자!">
  </form>

  <a href="{% url 'index' %}">뒤로</a>
{% endblock content %}